.main-container {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.second-container {
  width: 100%;
}

.third-container {
  background-color: #e7eef1;
  width: 100%;
  height: 100%;
}

aside {
  background-color: #165c7d;
  width: 70px;
  height: 100%;
}

.aside-container {
  height: 95%;
}

i {
  color: white;
  font-size: 1.5em;
}

.fa-bell {
  color: #165c7d;
}

.header {
  padding: 1em;
  width: 100%;
  height: auto;
}

.steps > span {
  margin-left: 1em;
}

.dot {
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

td {
  text-align: center;
}

hr {
  border: 2px solid #bbb;
  background-color: #bbb;
}

.dot-selected {
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  border: 3px solid #165c7d;
  display: inline-block;
  z-index: 100;
}

.selected-step {
  color: #165c7d;
}

.not-selected {
  color: #cecece;
}

.hr-right {
  position: relative;
  width: 51%;
  left: 50%;
  top: -27px;
  margin: 0 !important;
  z-index: 1;
}

.hr-right-only {
  position: relative;
  width: 51%;
  left: 50%;
  top: -25px;
  margin: 0 !important;
  z-index: 1;
}

.hr-left {
  position: relative;
  width: 50%;
  top: -25px;
  margin: 0 !important;
  z-index: 1;
}

.hr-left-but-right {
  position: relative;
  width: 50%;
  top: -23px;
  margin: 0 !important;
  z-index: 1;
}

.info-container {
  padding-left: 2em;
}

.header-info {
  font-size: 1.25em;
  font-weight: bold;
}

.info-text {
  font-size: 0.7em;
}

input{
  width: 300px;
}

::placeholder {
  color: #cecece;
  opacity: 0.75;
}

.result-container{
  height: auto;
  margin-left: 2em;
}

.result-cards{
  display: inline-grid;
  grid-template-columns: auto auto auto;
  gap: 1em
}

footer {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: flex-end;
  align-items: flex-start;
  flex-direction: column;
}

.footer-buttons {
  width: 100%;
  height: 15%;
  background-color: white;
}
