<aside class="d-flex flex-column align-items-center">
  <div class="aside-container my-auto d-flex flex-column align-items-center">
    <img src="assets/logo.png" widtd="45px" height="45px" />
    <i class="fa fa-bars mt-4" aria-hidden="true"> </i>
    <i class="fa fa-search mt-4" aria-hidden="true"> </i>
    <i class="fa fa-star mt-4" aria-hidden="true"> </i>
    <i class="fa fa-comment mt-4" aria-hidden="true"> </i>
    <i class="fa fa-calculator mt-4" aria-hidden="true"> </i>
    <i class="fa fa-bank mt-4" aria-hidden="true"> </i>
  </div>
</aside>
